<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.4.0" targetFramework="win81" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="win81" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="win81" />
  <package id="MvvmLight" version="5.0.2.0" targetFramework="win81" />
  <package id="MvvmLightLibs" version="5.0.2.0" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="win81" />
  <package id="SharpDX" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="win81" />
</packages>