<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="77e1f03a-2e14-478c-b21b-8879b2177ca3" Publisher="CN=Paul" Version="0.2.0.1" />
  <Properties>
    <DisplayName>MarkPad</DisplayName>
    <PublisherDisplayName>Paul</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MarkPad.App">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" EntryPoint="MarkPad.App">
          <FileTypeAssociation Name="md">
            <Logo>icon.png</Logo>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.md</FileType>
              <FileType>.markdown</FileType>
              <FileType>.mkd</FileType>
              <FileType>.mdown</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="MarkPad" Description="MarkPad is an editor for Markdown - a widely used syntax for formatting plain text to convert to blogs, comments, and in other places like on Stack Overflow." BackgroundColor="#BE0606" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#BE0606" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>